@import './colors.scss';

* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #111;
    color: white;
}
a {
    text-decoration: none;
    color: $lightBlue;
    transition: 0.4s;

    &:hover {
        color: $darkBlue;
    }
}