.moviePage {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 600px;
    padding: 2.5rem;

    .movieCardContainer {
        display: flex;
        justify-content: center;
    }

    .movieIcon {
        font-size: 1.5rem;
        color: #b8930c;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            color: #f7d354;
        }
    }
    .movieCard {
        width: 80%;
        text-align: center;
        h2 {
            font-size: 2rem;
        }
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;
        }
    }
}
.movieTagLine {
    text-align: center;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.info {

    h3 {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    p {
        margin-bottom: 1rem;
    }
}
.description {
    line-height: 1.4rem;
    padding-bottom: 10rem;
}